h1 { 
     color: white;
    font-family: 'Courier New', Courier, monospace;}
h2 { color: brown;
font-family: 'Courier New', Courier, monospace;}
p { color: blue;
font-family: 'Courier New', Courier, monospace;}
body { background-color: gray; }