#home {
    background-color: blue;
}

.links  {
    background-color: white;
    max-width: 400px;
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px black
}
p{
    background-color: white;
    max-width: 40px;
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px black
}
